<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }


        a {
            color: #555;
            text-decoration: none;
        }

        a:hover {
            color: #555;
            text-decoration: underline;
        }

        .list {
            margin: 5% 15%;
        }

        .item {
            padding: 15px 20px;
            border: 1px solid #ddd;
            margin-bottom: -1px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <ul class="list">
        <% contents.forEach(function(item) { %>
            <li class="item">
                <a href="<%= item.title_link %>"><%= item.title %></a>
                <span><%= item.time %></span>
                <!-- <a href="<%= item.group_link%>"><%= item.group %></a> -->
            </li>
        <% }); %>
    </ul>

    <div class="container">
    </div>
</body>
</html>